body {
    background: lightgray
}

table {
    height: 500px;
    width: 500px;
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    table-layout: fixed;
    width: calc (100%/10);
    background: lavenderblush
    
    }

tr:first-child {background: lightgreen}
td:first-child {background: lightgreen}